.userPreview{
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #555555;

}

.usersList{
    padding:10px;

}
.usersList-list{
    margin:0;
}
.userName{
    text-decoration: none;
}
.followed{
    background-color: #43a1da;
    background-image: -moz-linear-gradient(top, #4ba6db, #369bd7);
    background-image: -ms-linear-gradient(top, #4ba6db, #369bd7);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4ba6db), to(#369bd7));
    background-image: -webkit-linear-gradient(top, #4ba6db, #369bd7);
    background-image: -o-linear-gradient(top, #4ba6db, #369bd7);
    background-image: linear-gradient(top, #4ba6db, #369bd7);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4ba6db', endColorstr='#369bd7', GradientType=0);
    border-color: #369bd7 #369bd7 #2071a1;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #369bd7;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.unfollowed{
    background-color: #9e6ab8;
    background-image: -moz-linear-gradient(top, #a271bb, #9760b3);
    background-image: -ms-linear-gradient(top, #a271bb, #9760b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a271bb), to(#9760b3));
    background-image: -webkit-linear-gradient(top, #a271bb, #9760b3);
    background-image: -o-linear-gradient(top, #a271bb, #9760b3);
    background-image: linear-gradient(top, #a271bb, #9760b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a271bb', endColorstr='#9760b3', GradientType=0);
    border-color: #9760b3 #9760b3 #6f4086;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #9760b3;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.ava{
    height: 50px;
    width: 50px;
    padding: 1px;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #EBEBEB;
}

.label{
    padding: 1px 4px 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

.selectedPage{
    font-weight: bold;
}