.nav {
    grid-area: nav;
    background: deepskyblue;
    padding: 30px;
    border: solid 2px blue;
    border-radius: 5px;
}
.item a{
    color: white;
    text-decoration: none;

}
.mainFrame{


}
.item a.active{
    color: darkblue ;
}