.userPost{
    color: white;
    display: flex;
    border: white 2px solid;
    border-radius: 5px;
    width: 350px;
    margin-bottom: 10px;
    margin-top: 10px;


}
.previewAva{
    width: 50px;
    border-radius: 25px;
    margin: 10px 10px 10px 5px;
}
.userPostText{
    background: powderblue;
    border-radius: 5px;
    height: 45px;
    width: 170px;
    margin: 10px 10px 10px 5px;
    text-align: center;
}
.userPostLikes{
    margin: 10px 10px 10px 5px;
    text-align: center;
}
