.bigImage{
    width: 80%;
}
.mainFrameProfileInfo{
    border: darkblue 2px solid;
    border-radius: 5px;
    margin-bottom: 5px;
}

.previewAvatar{
    height: 50px;
    padding: 1px;
    margin-left: 15px;
    border: 1px solid #EBEBEB;
}