
.main-container{
    display: flex;
    justify-content: center;
}
.appWrapper {
    width: 1200px;
    display: grid;
    grid-template-areas:
    "h h"
    "nav cont";
    grid-template-rows: 60px 1fr;
    /*количество строк*/
    grid-template-columns: 2fr 10fr;
    /*количество столбцов*/
    grid-gap: 5px;
    /*растояние между элементами*/
}
.appWrapperMainFrame{
    grid-area: cont;
    background: lightskyblue;
}




